services:
  db:
    image: mysql:8.0
    container_name: app_db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: appdb
      MYSQL_USER: appuser
      MYSQL_PASSWORD: apppass
      MYSQL_ROOT_PASSWORD: rootpass
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

  backend:
    build:
      context: .
    container_name: app_backend
    restart: unless-stopped
    volumes:
      - ./:/var/www
    depends_on:
      - db

  nginx:
    image: nginx:alpine
    container_name: app_nginx
    restart: unless-stopped
    ports:
      - "8000:80"
    volumes:
      - .:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend

  frontend:
    build:
      context: ./html-builder-frontend
    container_name: app_frontend
    restart: unless-stopped
    ports:
      - "5173:5173"
    volumes:
      - ./html-builder-frontend:/app
      - /app/node_modules
    environment:
      - VITE_API_URL=http://localhost:8000/api

volumes:
  db_data:
